page-login {
  .bg-dark{
    background-color: color($colors, "dark") !important;
  }
  .text-light{
    color: white;
  }
  .footer::before{
    background-image: none !important;
  }
  .header::after{
    background-image: none !important;
  }
}
