<ion-header>

  <ion-navbar color="dark">
    <ion-title>Registrarme</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-dark">

      <ion-input type="text" placeholder="Email"></ion-input>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
      <ion-input type="password" placeholder="Confirmar Contraseña"></ion-input>
      <button ion-button block round margin-top large color="light" (click)="register()" outline>Registrarme</button>

</ion-content>

<ion-footer>

  <ion-navbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="text-light">Registrarme con</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block round large color="light">GOOGLE</button>
        </ion-col>
        <ion-col>
          <button ion-button block round large color="facebook" float-right>FACEBOOK</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-footer>
