<!--
  Generated template for the ScannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Codigo de Rutina</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="transparent no-scroll">
  <div class="subheader">
    Escanea el código QR generado por el entrenador
  </div>
  <img src="{{ data.img }}" class="scanner-bg">
</ion-content>

<ion-footer color="white">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-thumbnail item-start class="thumbnail-icon">
            <img src="assets/imgs/ticket.svg" class="img-icon">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-9>
          <ion-input type="text" placeholder="Codigo de Rutina" class="h-100inner" value="{{ data.code }}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons end>
      <button ion-button icon-only color="muted" (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only color="muted" (click)="send()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
