page-scanner {

  overflow: hidden;

  input{
    font-size: 2rem !important;
  }

  .no-scroll{
    div.scroll-content{
      overflow: hidden !important;
    }
  }

  .scanner-bg{
    position: absolute;
    width: 100%;
    top: 54%;
    z-index: -1;
    transform: translateY(-50%);
  }

  .footer::before{
    background-image: none !important;
  }

  .header::after{
    background-image: none !important;
  }

  .subheader{
    background-color: white;
    text-align: center;
    padding: 20px;
    color: #777;
  }

  .div-custom{
    width: 100%;
    height: 100%;
  }

  .bg-white{
    background-color: white;
  }

  .thumbnail-icon{
    min-width: 5rem !important;
    min-height: 5rem !important;
  }

  .h-100inner{
    height: 100%;
    input{
      height: 100%;
      margin: 0px;
    }
  }

  .img-icon{
    width: 5rem !important;
    height: 5rem !important;
  }
}
