page-train {
  .button-play{
    position: fixed;
    bottom: 100px;
    right: 0px;
    width: 100px;
  }
  .image-exercise{
    width: 90px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
  }
  .button-header{
    height: 56px;
  }
  .bar-buttons-md[end] {
    margin-right: 0px!important;
  }

  ion-icon{
    &[class*="custom-"] {
        width: 3.8rem;
        height: 3.8rem;
    }
    // custom icons
    &[class*="custom-streak"]{
      content: url(../assets/imgs/racha.svg);
    }
  }

}
