gcg<!--
  Generated template for the TrainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar no-padding color="light">
    <ion-title>Entrenar</ion-title>
    <ion-buttons end no-margin>
      <button ion-button icon-only>
        <ion-icon name="custom-streak"></ion-icon>
        2
      </button>
      <button ion-button icon-only (click)="goToRoutine()" class="button-header">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding color="dark">
  <ion-toolbar text-center>
    {{ routine.day }}
  </ion-toolbar>

  <ion-list no-lines padding>
    <ion-item *ngFor="let exercise of routine.exercises">
      <img src="assets/imgs/biceps.svg" class="image-exercise">
      <round-progress
        [current]="exercise.progress"
        [max]="indicator.max"
        [rounded]="indicator.rounded"
        [radius]="indicator.radius"
        [stroke]="indicator.stroke"
        [color]="indicator.color"
        [background]="indicator.background"
        [animationDelay]="indicator.animationDelay"
      ></round-progress>
    </ion-item>
  </ion-list>

  <img src="assets/imgs/timer-icon2-panel.svg" class="button-play">

</ion-content>
