<ion-tabs color="dark" [selectedIndex]="0">
    <ion-tab [root]="trainRoot" tabTitle="Entrenar" tabIcon="custom-train"></ion-tab>
    <ion-tab [root]="profileRoot" tabTitle="Perfil" tabIcon="custom-profile"></ion-tab>
    <ion-tab [root]="clubsRoot" tabTitle="Club" tabIcon="custom-club"></ion-tab>
    <ion-tab [root]="storeRoot" tabTitle="Tienda" tabIcon="custom-store"></ion-tab>
</ion-tabs>
