page-home {
  .footer::before{
    background-image: none !important;
  }
  .header::after{
    background-image: none !important;
  }

  ion-icon{
    &[class*="custom-"] {
        width: 5rem;
        height: 5rem;
    }
    // custom icons
    &[class*="custom-club"]{
      content: url(../assets/imgs/club-icon.png);
    }
    &[class*="custom-train"] {
      content: url(../assets/imgs/train-icon.png);
    }
    &[class*="custom-profile"] {
      content: url(../assets/imgs/profile-icon.png);
    }
    &[class*="custom-store"] {
      content: url(../assets/imgs/store-icon.png);
    }
  }

  .tabbar{
    min-height: 75px !important;
    a[aria-selected="false"]{
      span.tab-button-text{
        display: none !important;
      }
    }
    a[aria-selected="true"]{
      line-height: 15px !important;
    }
  }

}
