page-settings {

  .bottom{
    bottom: 20px;
    position: absolute;
  }

  .header::after{
    background-image: none !important;
  }

  .h-100inner{
    height: 100%;
    input{
      height: 100%;
      margin: 0px;
    }
  }

  .img-icon{
    width: 7rem !important;
    height: 7rem !important;
  }

  .over{
    position: absolute;
    z-index: 10000;
  }

  .a-left{
    animation-name: left;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .a-right{
    animation-name: right;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }

  @keyframes right {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
  }

  .thumbnail-icon{
    min-width: 7rem !important;
    min-height: 7rem !important;
  }

  .datetime-md{
    padding: 13px 8px !important;
  }

  .datetime-placeholder{
    font-size: 2rem !important;
    font-family: comfortaa !important;
  }
}
