<ion-header>
  <ion-navbar color="dark">
    <ion-title>Mis datos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <ion-thumbnail item-start class="thumbnail-icon">
          <img src="assets/imgs/metro.svg" class="img-icon">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-9>
        <ion-input type="text" placeholder="Altura"  class="h-100inner" [(ngModel)]="settings.height"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>
        <ion-thumbnail item-start class="thumbnail-icon">
          <img src="assets/imgs/balanza.svg" class="img-icon">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-9>
        <ion-input type="text" placeholder="Peso"  class="h-100inner" [(ngModel)]="settings.weight"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>
        <ion-thumbnail item-start class="thumbnail-icon">
          <img src="assets/imgs/calendario.svg" class="img-icon">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-9>
        <ion-input type="text" placeholder="Fecha de nacimiento" class="h-100inner" [(ngModel)]="settings.birthdate"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="bottom" (click)="goToScanner()">
      <ion-col col-3>
        <ion-thumbnail item-start class="thumbnail-icon">
          <img src="assets/imgs/scanner2.svg" class="img-icon over">
          <img src="assets/imgs/scan-small.svg" class="img-icon over a-left">
          <img src="assets/imgs/scan-medium.svg" class="img-icon over a-right">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-9>
        <ion-input type="text" readonly placeholder="Codigo de Rutina" class="h-100inner" [(ngModel)]="settings.qrcode"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title float-right>Siguente</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToRoutine()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
