// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #2a2a2a,
  darked:     #343232,
  muted:      #777777,
  facebook:   #3b5998,
  white:      #ffffff,
  black:      #000000
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face{
  font-family: "neon";
  font-style: "normal";
  src: url($font-path + "/neon.ttf")
}

@font-face{
  font-family: "comfortaa";
  font-style: "normal";
  src: url($font-path + "/Comfortaa-Regular.ttf")
}

$font-base: "comfortaa";

.transparent{
  background-color: transparent !important;
}

.bar-buttons-md[end]{
  margin-right: 1.5rem !important;
}

.custom-toast{
  height: calc(100% - 68px)!important;
}

input{
  font-size: 2rem !important;
}

ion-item, ion-item-divider{
  font-size: 2rem!important;
  border-bottom: none !important;
}

ion-item{
  min-height: 8rem !important;
}

ion-fab[bottom] {
    bottom: 20px !important;
}

ion-fab[right] {
  right: 20px !important;
}

*{
  font-family: $font-base;
}
