<!--
  Generated template for the RoutinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Mi Rutina</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let day of days" (click)="congifure(day)">
      {{ day.name }}
      <ion-icon item-end name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title float-right>Finalizar</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
