<!--
  Generated template for the DayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ day.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <ion-item-group *ngFor="let exercise of day.exercises">
      <ion-item-divider color="light">{{ exercise.muscle }}</ion-item-divider>
      <ion-item *ngFor="let routine of exercise.routines">{{ routine.name }}</ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
