<ion-content class="bg-dark">
  <ion-slides pager class="h70">

    <ion-slide>
      <ion-title>
        Gymgo.io
      </ion-title>
      <p class="text-light">Ponte en forma y lleva una vida saludable</p>
    </ion-slide>

    <ion-slide>
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>

  </ion-slides>

  <div padding>
    <button ion-button round block  large color="light" (click)="goToRegister()">EMPEZAR</button>
    <button ion-button round block  large color="light" (click)="goToLogin()" clear margin-top>YA TENGO UNA CUENTA</button>
  </div>

</ion-content>
