page-init {
  .bg-dark{
    background-color: color($colors, "dark") !important;
  }

  ion-title{
    text-align: center;
    *{
      font-family: "neon" !important;
      font-size: 6rem !important;
      color: white !important;
      font-weight: bold;
    }
  }

  .text-light{
    color: white !important;
    font-size: 2rem;
  }

  .h70{
    height: 75%;
  }
}
